body {
    background-color: #000;
    font-family: monospace;
    color: #ccc;
    max-width: 500px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
    color: #fff;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #ff0;
}
a:hover {
    color: #aaa;
}
