body {
  max-width: unset;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.project-image, .project-desc {
  width:256px;
  height:256px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.project-name, .project-desc{
  word-wrap: normal;
  max-width:256px;
}
.flex-item{
  background-color: #000;
  margin:16px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  border-radius: 0px 20px 0px 20px;
  border:3px solid $accentColor;
}
.project-name{
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(40,40,40,0.5);
  width: auto;
  border-radius: 0px 16px 0px 16px;
  -moz-border-radius: 0px 16px 0px 16px;
  -webkit-border-radius: 0px 16px 0px 16px;
}
.project-link{
  position: absolute;
  opacity: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(40,40,40,0.5);
  width: auto;
  border-radius: 0px 16px 0px 16px;
  -moz-border-radius: 0px 16px 0px 16px;
  -webkit-border-radius: 0px 16px 0px 16px;
}
.project-wrapper:hover .project-link {
  opacity: 1;
}
.project-image {
  -webkit-border-radius: 0px 16px 0px 16px;
  -moz-border-radius: 0px 16px 0px 16px;
  border-radius: 0px 16px 0px 16px;
}
.project-wrapper {
  position:relative;
}
.project-desc p{
  margin: 0;
  padding: 10px;
  color: #fff;
}
.project-link span{
  margin: 0;
  color: $accentColor;
}
.project-wrapper .project-desc{
  opacity: 0;
  top: 0;
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.project-wrapper .project-name{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.project-wrapper .project-image{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.project-wrapper:hover .project-desc{
  /* display : block; */
  opacity: 1;
}
.project-wrapper:hover .project-name{
  opacity: 0;
  /* display : none; */
}
.project-wrapper:hover .project-image{
  opacity: 0.25;
}

/* individual project pages */

#project-container {
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  margin-top: 10px;
  font-size: 28px;
  text-align: center;
  color: $accentColor;
}


.downloadBtn {
  display: block;
  width: fit-content;
  font-size: 16px;
  color: $backgroundColor;
  font-weight: 700;
  border-radius: 20px;
  text-shadow: 1px 1px 0px #666;
  background: $accentColor;
  padding: 15px;
  margin: 0 auto;
}

.downloadBtn:hover {
  color: $backgroundColor;
  background: $accentHoverColor;
}


table {
  margin: 0 auto;
}

table img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
