<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffff00">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffff00">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/icon/icon-32.png">
    <title>{{ site.title }} — {{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
