{% assign project = site.projects | where: "name", page.title | first %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffff00">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffff00">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="og:site_name" content="{{ site.title }}">
    <meta name="og:locale" content="{{ site.lang | default: 'en-US' | replace: '-', '_' }}">
    <meta name="og:title" content="{{ project.name }}">
    <meta name="og:url" content="{{ site.url }}{{ page.url }}">
    {% if page.description %}
        <meta name="og:description" content="{{ page.description }}">
    {% else %}
        <meta name="og:description" content="{{ page.excerpt }}">
    {% endif %}
    <meta name="og:type" content="website">
    <meta name="twitter:site" content="@yellowberry__">
    <meta name="twitter:creator" content="@yellowberry__">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/icon/icon-32.png">
    <title>{{ site.title }} — {{ page.title }}</title>
</head>
<body>
    {% if page.github %}
        {% include github-corner.html github=page.github %}
    {% endif %}
    <h1>{{ page.title }}</h1>
    <div id="project-container">
        {{ content }}
    </div>
</body>
</html>